# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# production
/install/files

# misc
.DS_Store
.vscode

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

!blank/.gitkeep
desktop.ini

.idea
bitbucket-pipelines.yml
application/config/config.php
application/config/database.php
/assets/uploads/
/vendor
